
<h1>ブログ一覧</h1>

<p><%= notice %></p>

<p><%= link_to 'ALL', blogs_path %></p>
<p><%= link_to 'A', filter_blog_path('A') %></p>
<p><%= link_to 'B', filter_blog_path('B') %></p>
<p><%= link_to 'C', filter_blog_path('C') %></p>

    <p>タイトル</p>
    <p>内容</p>
    <p>優先度</p>

<% @blogs.each do |blog| %>
  <div class = "border">
    <p><%= blog.title %></p>
    <p><%= blog.content %></p>
    <p><%= blog.getStatusKeyFromValue %></p>
    
    
    
    <p><%= link_to '詳細を確認する', blog_path(blog.id) %></p>
    
    <p><%= link_to "ブログを編集する", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></p>
    
    <p><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></p>
    
  </div>
<% end %>

<%= paginate @blogs %>

<%= link_to '新規投稿を行う', new_blog_path, class: "btn btn-info" %>



