<div class="container">
  <h1><section class = "page_navi">投稿詳細</h1></section>
  <p id="notice"><%= notice %></p>

  <div class="blog-text">
    <p><strong>タイトル</strong>：<%= @blog.title %></p>
    <p><strong>内容</strong>：<%= @blog.content %></p>
    <p><strong>優先度</strong>：<%= @blog.getStatusKeyFromValue %></p>
    <p><strong>作成日時</strong>：<%= @blog.created_at %></p>
  </div>
  
  <div class = "task_select"></div>
    <% if @blog.task_flag == true %>
      <p><%= "完了" %><%=image_tag '500.png',:size =>'50x50' %></p>
    <% else @blog.task_flag == false %>
      <p ><%= "未完了" %><%=image_tag '404.png',:size =>'50x50' %></p>
    <% end %>
  
    <%=form_with(model: @blog) do |form| %>
      <label><%= form.radio_button :task_flag, true %>完了</label>
      <label><%= form.radio_button :task_flag, false %>未完了</label>
  
      <div class = "b_field"><%= form.submit %></div>
    <%end%>
    
    

  <p>コメント一覧</p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
  
  
  <div id = "edit_back">
    <%= link_to '編集', edit_blog_path(@blog) %>
    <%= link_to '戻る', blogs_path %>
  </div>
</div>