<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <div data-comment="<%= comment.id %>">
          <div class = "edit_delete">
            <p class = "cc_time">作成日時:<%= comment.created_at %></p>
            <p class = "c_ed_menu"><%= link_to "編集", edit_blog_comment_path(blog.id,comment.id) %>
            <%= link_to "削除", blog_comment_path(blog.id,comment.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %></p>
          </div>
          <p>コメント：<%= comment.content %></p>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

